/* =========================== Basic Setup =========================== */
:root {
    --primary-50: rgba(255, 195, 56, 0.2);
    --primary-700: #FFC238;
    --primary-900: #FFA339;
    --background-dark-200: #353D68;
    --background-dark-500: #252A51;
    --background-dark-700: #1A1F3D;
    --background-dark-900: #12162c;
    --background-light: rgba(253, 254, 254, 0.9);
    --text-light: #FDFEFE;
    --text-dark: #2e2f3a;
    --gray: #d3cece;
    --shadow: 4px 0px 8px 2px rgb(212, 195, 150, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(1320px, 90%);
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-dark-500);
}

a {
    text-decoration: none;
}

.custom-button {
    padding: 8px 20px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--gray);
    transition: .5s;
}

.custom-button:hover {
    background: transparent;
    color: var(--primary-700);
    border: 2px solid var(--primary-700);
}

.page-heading {
    background: var(--text-light);
    margin-bottom: 30px;
    padding: 30px;
}

.page-heading p {
    position: relative;
    color: var(--primary-700);
    font-size: 1.5rem;
    font-weight: 600;
}

.page-heading p::after {
    content: '';
    position: absolute;
    height: 2px;
    width: min(300px, 50%);
    background: var(--primary-700);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}


/* =========================== Navbar =========================== */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo a p {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary-700);
    transition: .4s;
}

.nav .logo a p:hover {
    color: var(--primary-900);
}

.nav .nav-links {
    display: flex;
    gap: 25px;
}

.nav .nav-links a {
    color: var(--text-light);
    font-weight: 400;
    position: relative;
}

.nav .nav-links a.show-nav {
    display: block;
}

.nav .nav-links a.hide-nav {
    display: none;
}

.nav .nav-links a.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--primary-700);
    left: 0;
    bottom: -8px;
}

.user-profile {
    position: relative;
}

.user-profile-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.user-profile .profile-click-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
}

.user-profile .profile-click-popup::before {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--gray) transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: 45px;
}


.user-profile .profile-click-popup .custom-button {
    background: var(--primary-700);
    color: var(--text-light);
}

.user-profile .profile-click-popup .custom-button:hover {
    background: transparent;
    color: var(--primary-700);
}

.popup-open {
    display: block;
}

.popup-close {
    display: none;
}

/* =========================== Register, Login, ForgetPass =========================== */
.sign-account {
    margin-top: 50px;
    width: min(400px, 90%);
    min-height: calc(100vh - 210px);
}

.sign-account .heading {
    color: var(--text-light);
    font-size: 2.2rem;
    font-weight: 600;
}

.sign-account .heading span {
    color: var(--primary-700);
    font-size: 3rem;
}

.sign-account .change-to {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--gray);
}

.sign-account .change-to a {
    font-weight: 600;
    color: var(--primary-700);
}

.sign-account .inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-account .inputs input {
    padding: 15px;
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    font-size: .9rem;
    transition: .4s;
    color: var(--primary-700);
}

.sign-account .inputs input:focus {
    border: 1px solid var(--primary-700);
}

.sign-account .action-button .sign-to-account {
    margin-top: 30px;
    padding: 12px;
    background: var(--primary-700);
    width: 100%;
    color: var(--text-light);
    transition: .5s;
    border: 2px solid var(--text-light);
}

.sign-account .action-button .sign-to-account:hover {
    background: transparent;
}

.sign-account .other-options .or-title {
    position: relative;
    text-align: left;
    margin: 20px 0;
    color: var(--gray);
    font-size: .9rem;
    font-weight: 400;
}

.sign-account .other-options .or-title::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 70%;
    background: var(--gray);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.sign-account .other-options .google .google-sign {
    padding: 15px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--text-light);
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--text-light);
    transition: .5s;
}

.sign-account .other-options .google .google-sign:hover {
    background: var(--primary-700);
    color: var(--text-light);
}

.remember-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.remember-forget .remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-700);
    cursor: pointer;
}

.remember-forget .remember-me input {
    accent-color: var(--primary-700);
}

.remember-forget .forget-password {
    color: var(--primary-700);
    font-weight: 500;
}


/* =========================== Home =========================== */

.home-heading {
    color: var(--text-light);
    margin: 50px 0 20px;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
}

.home-heading::after {
    content: '';
    position: absolute;
    height: 2px;
    width: min(300px, 50%);
    background: var(--primary-700);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* ---------- Banner ---------- */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    gap: 30px;
}

.banner .banner-left{
    width: 50%;
}

.banner .banner-left .title h1{
    color: var(--primary-700);
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 30px;
}

.banner .banner-right{
    width: 50%;
}

.banner .banner-right img{
    width: 100%;
}



/* ---------- About my service ---------- */
.overview {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.overview .img img {
    width: clamp(250px, 40vw, 350px);
}

.overview-details {
    min-width: 300px;
    width: 600px;
}

.overview-details .since {
    display: flex;
    align-items: center;
}

.overview-details .since .line {
    height: 2px;
    width: 50px;
    background: var(--primary-700);
    margin-right: 15px;
}

.overview-details .since p {
    color: var(--primary-700);
}

.overview-details .title h1 {
    font-size: 2.2rem;
    color: var(--text-light);
}

.overview-details .title h1 span {
    color: var(--primary-700);
}

.overview-details .main-part {
    margin-top: 50px;
    background: var(--text-light);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.overview-details .main-part .text p {
    padding: 40px 30px;
    background: var(--gray);
}

.overview-details .main-part .profile {
    padding: 25px;
    display: flex;
    gap: 25px;
}

.overview-details .main-part .profile .ceo-img {
    max-width: 50px;
}

.overview-details .main-part .profile .ceo-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.overview-details .main-part .profile .profile-info h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #353535;
}

.overview-details .main-part .profile .profile-info p {
    font-size: .8rem;
    color: #808080;
}

.overview-details .main-part .profile .signature {
    position: relative;
    top: -100px;
    right: -240px;
    width: 170px;
    height: 0;
    transform: rotate(-10deg);
}


@media only screen and (max-width: 460px) {
    .overview-details .main-part .profile .signature {
        display: none;
    }
}



.get-service{
    margin: 50px 0;
    background: var(--background-dark-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;padding: 50px;
    border-radius: 5px;
}

.get-service h1{
    color: var(--text-light);
    font-size: 3rem;
    text-align: center;
    line-height: 60px;
}



/* =========================== Services =========================== */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 20px;
}

.services .service {
    background: var(--background-light);
    width: 100%;
    padding: 15px;
    border-radius: 5px !important;
    border-radius: 1px solid var(--primary-700);
    transition: .3s;
    cursor: pointer;
    height: 100%;
    position: relative;
}

.services .service:hover {
    box-shadow: var(--shadow);
}

.services .service .service-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px !important;
    border: 2px solid var(--text-light);
}

.services .service .service-name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-dark);
    line-height: 27px;
    margin: 10px 0;
}

.services .service .service-description {
    font-size: .9rem;
    font-weight: 400;
    color: var(--background-dark-200);
    margin: 10px 0;
    text-align: justify;
}

.services .service .service-description a {
    color: var(--primary-700);
    font-weight: 500;
}

.services .service .price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
}

.services .service .price-rating .price {
    color: var(--primary-900);
}

.services .service .price-rating .price span {
    font-weight: 500;
    color: var(--background-dark-700);
}

.services .service .price-rating .ratings {
    color: var(--background-dark-700);
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.services .service .price-rating .ratings .star {
    color: var(--primary-900);
}

.services .service .service-detail-button button {
    width: 100%;
    margin-top: 20px;
    background: var(--primary-700);
    border: 2px solid var(--text-light);
}

.services .service .service-detail-button button:hover {
    border: 2px solid var(--primary-700);
    background: transparent;
    font-weight: 600;
}

.see-all-services {
    margin-top: 40px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* =========================== Service Details =========================== */
.service-details {
    display: flex;
    gap: 50px;
}

.service-details .service-image {
    width: 50%;
}

.service-details .service-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--text-light);
    border-radius: 5px;
}

.service-details .service-other-details {
    width: 50%;
}

.service-details .service-other-details .service-name {
    color: var(--primary-700);
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-details .service-other-details .service-price-ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--text-light);
}

.service-details .service-other-details .service-price-ratings::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--gray);
    bottom: 0px;
}

.service-details .service-other-details .part-title {
    color: var(--gray);
    font-size: 1.3rem;
    font-weight: 400;
}

.service-details .service-other-details .service-description {
    color: var(--text-light);
    font-weight: 300;
    font-size: .9rem;
}

.please-login {
    text-align: center;
    color: var(--text-light);
    font-size: 1.2rem;
    margin: 20px 0;
}

.please-login a {
    color: var(--primary-700);
    font-weight: 500;
}

/* Add review ----------------- */
.add-new-review {
    position: relative;
    margin-bottom: 50px;
}

.add-new-review::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--gray);
    bottom: -20px;
}

.add-new-review form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.add-new-review form textarea {
    padding: 15px;
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    font-size: .9rem;
    transition: .4s;
    color: var(--primary-700);
    height: 100px;
    margin-bottom: 10px;
}

.add-new-review form textarea:focus {
    border: 1px solid var(--primary-700);
}

.add-new-review form .custom-button {
    width: fit-content;
    background: var(--primary-700);
    border: 2px solid var(--text-light);

}

.add-new-review form .custom-button:hover {
    background: transparent;
    border: 2px solid var(--primary-700);
}

/* View review ----------------- */
.review {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.review .reviewer-image img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.review .reviewer-name-review .reviewer-name p {
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.review .reviewer-name-review .review-text p {
    font-size: .9rem;
    color: var(--gray);
    font-weight: 300;
}

/* My review ----------------- */
.my-reviews .reviews {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid var(--text-light);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.my-reviews .reviews .review-details .service-name,
.my-reviews .reviews .review-details .service-review {
    color: var(--text-light);
}

.my-reviews .reviews .review-details .service-name span,
.my-reviews .reviews .review-details .service-review span {
    color: var(--primary-700);
    font-weight: 500;
    font-size: 1.1rem;
}

.my-reviews .reviews .actions {
    display: flex;
    gap: 20px;
}

.my-reviews .reviews .actions .icons {
    color: var(--text-light);
    font-size: 1.5rem;
    cursor: pointer;
}

.my-reviews .no-reviews {
    text-align: center;
    color: var(--text-light);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 100px 0;
}



/* Edit review ----------------- */
.update-review .review-title p {
    color: var(--text-light);
    font-size: 1.3rem;
    margin: 10px 0 40px;
    font-weight: 400;
}

.update-review .review-title p span {
    color: var(--primary-700);
}

.update-review .update-form {
    display: flex;
    flex-direction: column;
    width: min(500px, 90%);
    gap: 10px;
}

.update-review .update-form textarea {
    padding: 15px;
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    font-size: .9rem;
    transition: .4s;
    color: var(--primary-700);
    height: 100px;
    margin-bottom: 10px;
}

.update-review .update-form textarea:focus {
    border: 1px solid var(--primary-700);
}

.update-review .update-form .custom-button {
    width: fit-content;
    padding: 8px 50px;
    background: var(--primary-700);
    border: 2px solid var(--text-light);
}

.update-review .update-form .custom-button:hover {
    background: transparent;
    color: var(--text-light);
}

/* =========================== Add Service =========================== */
.add-service {
    width: min(500px, 90%);
    margin: auto;
}

.add-service .inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.add-service .inputs input,
.add-service .inputs textarea {
    padding: 15px;
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: none;
    font-size: .9rem;
    transition: .4s;
    color: var(--primary-700);
}

.add-service .inputs textarea {
    height: 100px;
}

.add-service .inputs input:focus,
.add-service .inputs textarea:focus {
    border: 1px solid var(--primary-700);
}

.add-service .custom-button {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-700);
    border: 2px solid var(--text-light);
    width: 100%;
}

.add-service .custom-button:hover {
    background: transparent;
    border: 2px solid var(--primary-700);
}


/* =========================== Blog =========================== */
.blog-posts-wrap {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr !important;
}

.post-link {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.post-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--text-light);
    box-shadow: 0px 2px 20px rgba(120, 69, 249, 0.2);
    transition: all .25s;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
}

.post-wrap:hover{
    transform: translateY(-3px);
}

.post-body {
    padding: 15px 20px;
    margin: 0 auto;
    height: 100%;
}


.post-body-primary {
    margin: 10px 0 10px 0;
}

.post-meta {
    color: #7B7B7B;
}

.post-meta p {
    font-size: .9rem;
}

.post-meta b {
    font-weight: 500;
}

.post-title {
    color: var(--primary-700);
    padding: 5px 0 10px 0;
}

.post-title h2 {
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 500;
}

.post-text p {
    color: #7B7B7B;
    line-height: 20px;
    font-size: .9rem;
}

.post-body-secondary {
    border-top: 1px solid var(--gray);
}

.post-category {
    color: #7B7B7B;
    padding: 15px 0 10px 0;
}

.post-category p {
    font-size: .9rem;
}

/* .blog{
    width: 100%;
}
.blog-posts-wrap {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr)
}

.post-link {
    margin: 10px;
    cursor: pointer;
    width: 100%;
}

.post-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(120, 69, 249, 0.2);
    transition: all .25s;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}

.post-wrap:hover {
    top: 2px;
    box-shadow: 0px 2px 20px rgba(120, 69, 249, 0.4);
}

.post-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.post-body {
    padding: 15px 30px;
    margin: 0 auto;
}

.post-body-primary {
    margin: 10px 0 10px 0;
}

.post-meta {
    color: #7B7B7B;
}

.post-meta p {
    font-size: .9rem;
}

.post-meta b {
    font-weight: 500;
}

.post-title {
    color: var(--primary-700);
    padding: 5px 0 10px 0;
}

.post-title h2 {
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 500;
}

.post-text p {
    color: #7B7B7B;
    line-height: 20px;
    font-size: .9rem;
}

.post-body-secondary {
    border-top: 1px solid var(--gray);
}

.post-category {
    color: #7B7B7B;
    padding: 15px 0 10px 0;
}

.post-category p {
    font-size: .9rem;
} */


/* =========================== Footer =========================== */
.footer {
    margin-top: 50px;
    /* color: var(--primary-700);
    text-align: center; */
}

.footer .footer-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    background: var(--background-dark-700);
    padding: 50px 200px;
}

.footer .footer-main .part-1 {
    width: 35%
}

.footer .footer-main .footer-part h4 {
    color: var(--text-light);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer .footer-main .part-1 .logo h4 {
    color: var(--primary-700);
    font-size: 2rem;
    font-weight: 700;

}

.footer .footer-main .part-1 .description {
    color: var(--gray);
    font-size: .9rem;
}

.footer .footer-main .part-2 .links,
.footer .footer-main .part-3 .links,
.footer .footer-main .part-4 .links {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.footer .footer-main .part-2 .links a,
.footer .footer-main .part-3 .links a,
.footer .footer-main .part-4 .links a {
    color: var(--gray);
    font-weight: 400;
    transition: .4s;
}

.footer .footer-main .part-2 .links a:hover,
.footer .footer-main .part-3 .links a:hover,
.footer .footer-main .part-4 .links a:hover {
    color: var(--primary-700);
}

.footer .copyright {
    background: var(--background-dark-900);
    text-align: center;
    color: var(--primary-700);
    padding: 20px;
}



/* Loader */
.loader{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-dark-700);
    z-index: 5;
    top: 0;
    left: 0;
}